includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - src/

    # Level 9 is the highest level
    level: 9
    typeAliases:
        		Name: 'string'
        		NameResolver: 'callable(): string'
        		NameOrResolver: 'Name|NameResolver'

    checkGenericClassInNonGenericObjectType: false

#   ignoreErrors:
#    	 - '#Call to an undefined method Illuminate\Auth\AuthManager::refresh\(\)#'
#        - '#PHPDoc tag @var#'
#
#
#    excludePaths:
#        - ./*/*/AuthManager.php
#
#    checkMissingIterableValueType: false